* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./images/bubblebg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

/*also has properties set within phone device display far below*/
#header-container {
    background-image: url("/images/headerbg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 100%;
}

/* also has properties set for phone device display far below*/
#heading-one {
    margin-left: 10px;
    font-family: 'Libre Baskerville', serif;
    font-size: 30px;
    color:white;
     
}

#heading-two {
    margin-left: 50px;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    color:white;
}

#menu-bar {
    background: rgba(1, 126, 95, 0.2);
    height: 170px;
    width: 100%;
}

#row {
    position: relative;
    list-style: none;
    text-align: center;
    top: 15%;
    height: 90px;
    width: 100%;
    margin: auto;
}

#row li {  
   display: inline-block;
}

#nav-items li {
    display: inline-block;
}

/* has phone display properties far below*/
#nav-items li a {
    position: absolute;
    color: white;
    text-decoration: none;
    padding: 2px 2px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    top: 50%
}

/*has phone device display properties far below*/
#nav-items li a:hover {
    text-decoration: underline;
    font-size: 25px;
}

/*also has properties set within phone device display far below*/
#resume {
    left: 20%;
    bottom: 50%;
}

#item2 {
    left: 40%;
    bottom: 50%;
}

#item3 {
    left: 60%;
    bottom: 50%;
}

#projectOne {
    grid-area: index-projectOne;
    justify-self: center;
    align-self: center;
}

#projectTwo {
    grid-area: index-projectTwo;
    justify-self: center;
    align-self: center;
}

#projectThree {
    grid-area: index-projectThree;
    justify-self: center;
    align-self: center;
}

#projectFour {
    grid-area: index-projectFour;
    justify-self: center;
    align-self: center;
}

/*also has properties set within phone device display far below*/
.button { 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 250px;
    width: 200px; 
    padding: 5px;
    text-decoration: none;
    outline: none;
    font-size: 25px;
    color: white;
    font-weight: 700;
    background: black;
    opacity: .9;
    border-radius: 10px;
    border: solid 3pt aquamarine;
    cursor: pointer;
}

/*button one, two, three and four on hover also has properties set within phone device display far below*/
#buttonOne:hover {
    background-image: url("./images/volumecalc-button.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    border: solid 3pt white;
    color: transparent;
    opacity: 9;
    height: 265px;
    width: 200px;
}

#buttonTwo:hover {
    background-image: url("./images/hangman-button.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    border: solid 3pt aquamarine;
    color: transparent;
    opacity: 9;
    height: 265px;
    width: 200px;
}

#buttonThree:hover {
    background-image: url("./images/todolist-button.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    border: solid 3pt aquamarine;
    color: transparent;
    opacity: 9;
    height: 265px;
    width: 200px;
}

#buttonFour:hover {
    background-image: url("./images/horserider-button.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    border: solid 3pt aquamarine;
    color: transparent;
    opacity: 9;
    height: 265px;
    width: 200px;
}

#about-me-container {
    position: relative;
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-me {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

video {
    left: 50%;
    height: 100%;
    width: 100%;
    opacity: .2;
}

/* also has properties set within phone device display far below*/
#about-me-container button {
    text-align: center;
    font-size: 45px;
    padding: 10px;
    background: transparent;
    color: aquamarine;
    border: 2px solid aquamarine;
    border-radius: 10px;
    height: auto;
    width: auto;
    font-family: 'Cookie', cursive;
    z-index: 10;
}

/* also has phone device display far below*/
#about-me-container button:hover {
    font-size: 55px;
    border: 1px solid white;
    color: white;
}

#footer {
    background: black;
    height: auto;
    width: 100%;
    padding: 15px;
    
}

#footer ul {
    justify-content: center;
    text-align: center;
}

#footer ul li {
    display: inline-block;
}

#gmail-logo {
    display: block;
    background-image: url("/images/gmaillogo.png");
    background-size: 100% 100%;
    cursor: pointer;
    height:70px;
    width:70px;
    margin: 10px;
}

#gmail-logo:hover {
    transform: scale(1.1);
}

#github-logo {
    display: block;
    background-image: url("/images/githublogo.png");
    background-size: 100% 100%;
    cursor: pointer;
    height:70px;
    width:70px;
    margin: 10px;
}

#github-logo:hover {
    transform:scale(1.1);
}

#footer-text-row li {
    font-size: 18px;
    color: white;
}   

#gmail-text {
    width: 70px;
    margin: 10px;
}

#github-text {
    width: 70px;
    margin: 10px;
}

/* These following setting are for desktop display only */
@media screen and (min-width: 801px) {
    #project-container { 
        display: grid;
        grid-template-columns: 4fr, auto;
        grid-template-rows: 350px;
        grid-template-areas: 
        "index-projectOne index-projectTwo index-projectThree index-projectFour";
    }
}

/* These following settings are for tablet display only */
@media screen and (min-width:541px) and (max-width: 900px) {
    #project-container { 
        display: grid;
        grid-template-columns: 2fr, auto;
        grid-template-rows: 2, auto;
        grid-template-areas: 
        "index-projectOne index-projectTwo"
        "index-projectThree index-projectFour";
        grid-gap: 20px;
        margin: 20px;
    }

    #buttonOne:hover {
        height: 250px;
        width: 200px;
    }
    
    #buttonTwo:hover {
        height: 250px;
        width: 200px;
    }
    
    #buttonThree:hover {
        height: 250px;
        width: 200px;
    }
    
    #buttonFour:hover {
        height: 250px;
        width: 200px;
    }

}

/* These setting are for phone display only */
@media screen and (min-width: 0px) and (max-width: 540px) {
    #header-container {
        height: 200px;
        width: 100%;
    }

    #heading-one {
        font-size: 20px; 
    }
    
    #heading-two {
        font-size: 15px;
    }
    
    #nav-items li a {
        padding: 0;
        font-size: 15px;
        font-weight: 300;
    }

    #nav-items li a:hover {
        font-size: 17px;
    }

    #resume {
        left: 15%;
        bottom: 50%;
    }
    
    #item2 {
        left: 45%;
        bottom: 50%;
    }
    
    #item3 {
        left: 70%;
        bottom: 50%;
    }

    #project-container { 
        display: grid;
        grid-template-columns: 1fr, auto;
        grid-template-rows: 4fr, auto;
        grid-template-areas: 
        "index-projectOne"
        "index-projectTwo"
        "index-projectThree"
        "index-projectFour";
        grid-gap: 20px;
        margin: 20px;
    }

    .button {
        height: 200px;
        width: 150px;
        font-size: 20px;
    }

    #buttonOne:hover {
        height: 200px;
        width: 150px;
    }
    
    #buttonTwo:hover {
        height: 200px;
        width: 150px;
    }
    
    #buttonThree:hover {
        height: 200px;
        width: 150px;
    }
    
    #buttonFour:hover {
        height: 200px;
        width: 150px;
    }
    /* Javascript element button*/
    #about-me-container button {
        font-size: 25px;
    }

    #about-me-container button:hover {
        font-size: 35px;
    }

}